.hackathon .h-date {
  opacity: .45;
  float: right;
  margin-right: 30px;
  text-transform: uppercase;
}

.h-date-text {
  margin: 0;
}

.h-timeline-content h3 {
  text-transform: uppercase;
}

.h-timeline-block:hover  {
  opacity: 1 !important;
}

.h-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
.h-timeline-img::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 9px;
  height: 100%;
  width: 2px;
  background-color: #666;
  z-index: -1;
}

.h-timeline-img {
  float:left;
}

.h-timeline-img img {
  z-index: 10;
}

.h-timeline-content {
  margin-left: 30px;
  display: inline-block;
}